@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Jost sans-serif;
}

/* innner section */
.inner {
  display: flex;
  height: 600px;
  width: 100%;
}
.inner1,
.inner2 {
  height: 550px;
  width: 760px;
}
.inner_image img {
  height: 550px;
  width: 760px;
}
.inner_text1 {
  margin-left: 20px;
  color: #222222;
  position: absolute;
  left: 0;
  top: 66%;
  z-index: 1;
  font-weight: 100;
  transition: 0.5s;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.inner_text2 {
  color: #222222;
  margin-left: 20px;
  position: absolute;
  top: 66%;
  font-weight: 500;
  z-index: 1;
  transition: 0.5s;
  font-size: 16px;
  cursor: pointer;
}

.inner_text1 a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #222222;
}
.inner_text2 a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #222222;
}
.inner_text1 a::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #222222;
}
.inner_text1 a::after {
  transform: scale(0, 1);
  transform-origin: 0% 60%;
  transition: transform 0.3s ease;
}
.inner_text1 a:hover::after {
  transform: scale(1, 1);
}
.inner_text2 a::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #222222;
}
.inner_text2 a::after {
  transform: scale(0, 1);
  transform-origin: 0% 50%;
  transition: transform 0.3s ease;
}
.inner_text2 a:hover::after {
  transform: scale(1, 1);
}
