@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 20px;
}
.view__detail {
  padding: 9px 30px;
  background-color: #222222;
  color: white;
  border: 2px solid black;
}
.view__detail:hover {
  color: black;
  background-color: white;
}
