<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="sign_in_container"> 
        <div class="create_new_account">
            <h2>New Customer</h2>
            <strong>Register Account</strong>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
            <a href="#">CONTINUE</a>
        </div>    

        <div class="sign_in">
            <h2>Returning Customer</h2>
            <strong>I am a returning customer</strong>
            <form>
                <label>Username</label>
                <br>
                <input type="text" class="input_item" placeholder="Username"><br><br>
                <label>Password</label>
                <br>
                <input class="input_item" type="password" placeholder="Passowrd"><br><br>
                <a href="#">Forgotten Password</a><br>
                <input type="submit" class="login_button" value="LOGIN">
            </form>
            
        </div>
    </div>

</body>
<script src="main.js"></script>
</html>