@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.register_container{
width: 1120px;
height: 705px;
color: #222222;
font-family: jost;
padding: 0px 15px;
}
.register_container h1{
  font-size: 16px;
  margin: 0 0 15px;
  color: #222222;
}
.register_container p{
  font-size: 14px;
  margin: 0 0 10px;
  color: #222222;
}
.personal_details{
  width: 1090px;
  height: 295px;
  color: #222222;
  font-size: 14px;
}
.personal_details legend{
  font-size: 18px;
  margin: 0 0 20px;
  padding: 7px 0;
  color: #333333;
}
.personal_details label{
  min-width: 400px;
  color: #222222;
  font-size: 14px;
  margin: 0 0 5px;
  padding: 0 15px;
  
}
.input_items {
  width: 903px;
  height: 40px;
  background-color: white;
  padding: 6px 15px;
  border: 1px solid #777777;
}

.long {
  width: 200px;
  background-color: #222222;
}